$color-bg-grad-lb: #3023ae;
$color-bg-grad-rt: #c66cd6;
$color-font-main: #fbf6e4;
$color-border-input: rgba(251, 246, 228, 0.6);
$color-border-input-focus: rgba(251, 246, 228, 0.8);
$color-font-add: #b9b9cc;
$color-button: #23ae92;
$color-bg-checkbox: #23ae92;
$color-bg-main: #e5eeee;
$color-hover-top-link: #e66a64;
$color-hover-bottom-link: rgba(150, 193, 218, 0.15);