@import '../../styles/main.scss';

.game {
    height: 1500px;
}

.loading-circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loader {
	max-width: 15rem;
	width: 100%;
	height: auto;
	stroke-linecap: round;
    margin-top: 5em;
}

circle {
	fill: none;
	stroke-width: 3.5;
	animation-name: preloader;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	transform-origin: 170px 170px;
	will-change: transform;

	&:nth-of-type(1) {
		stroke-dasharray: 550px;
	}

	&:nth-of-type(2) {
		stroke-dasharray: 500px;
	}

	&:nth-of-type(3) {
		stroke-dasharray: 450px;
	}

	&:nth-of-type(4) {
		stroke-dasharray: 300px;
	}

	@for $i from 1 through 4 {
		&:nth-of-type(#{$i}) {
			animation-delay: -#{$i * 0.15}s;
		}
	}
}

.game-soon {
    color: $white-color;
    font-family: 'Ubuntu', sans-serif;
    font-size: 64px;
    text-align: center;
    margin-top: 1.5em;
    overflow: hidden;  
    white-space: nowrap;
    position: relative;
    transform: translateY(-50%);
    animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes preloader {
	50% {
		transform: rotate(360deg);
	}
}

@keyframes typewriter{
    from{width: 0;}
    to{width: 24em;}
}
@keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
}

@media screen and (max-width: 1170px){
    .loader {
        width: 10rem;
    }

    .game-soon {
        font-size: 52px;
    }
}

@media screen and (max-width: 850px){
    .loader {
        width: 8rem;
    }

    .game-soon {
        font-size: 48px;
    }
}

@media screen and (max-width: 450px){
    .loader {
        width: 8rem;
    }

    .game-soon {
        font-size: 24px;
    }
}
  
