.contact {
  display: flex;
  @include container-width;
  height: 75%;
  flex-direction: column;
  justify-content: space-between;
  &__top {
    @include flex-beetween;
    flex-direction: column;
  }
  &__bottom {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  &__left,
  &__right {
    width: 47%;
  }
  &__top-container {
    height: 160px;
    width: 370px;
    @include flex-beetween;
    flex-direction: column;
  }
  &__description {
    text-align: center;
  }
  &__right-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
  &__contact-info {
    display: flex;
    flex-direction: column;
  }
  &__info-title {
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__info-description {
    font-size: 20px;
    font-weight: 400;
  }
  &__buttons-container {
    width: 450px;
    height: 250px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    @media screen and (max-width: 1024px) {
      width: 330px;
    }
  }
  &__form {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}
.form {
  display: flex;
  height: 445px;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  &__input {
    outline: none;
    width: 90%;
    min-width: 300px;
    height: 50px;
    color: $color-font-light;
    background-color: $color-bg-button-contact;
    font-size: 15px;
    opacity: 0.4;
    border: none;
    resize: none;
    font-weight: 600;
    padding: 18px 20px;

    &:focus {
      opacity: 1;
      box-shadow: inset 5px 0 $color-hover-contact;
    }
    &::placeholder {
      color: $color-font-light;
    }
    &--message {
      height: 250px;
      resize: none;
    }
    &--message::placeholder {
      font-family: $font-main;
    }
  }
}
