.footer {
  height: 90px;
  @include flex-center;
  background-color: $color-bg-footer;
  color: $color-font-footer;
  &__container {
    @include flex-beetween;
    @include container-width;
  }
  &__copyright {
    font-size: 16px;
    font-weight: 500;
  }
  &__logo {
    font-size: 25px;
    font-weight: 500;
    font-family: $font-logo;
  }
  &__designer {
    @extend .footer__copyright;
    &--red {
      color: $color-font-footer-add;
      font-weight: 600;
    }
  }
}
