@import '../../styles/main.scss';

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    border-bottom: 2px $logo-green-color solid;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: black;

    &-container {
        justify-content: space-between;
        align-items: center;
    }

    &-logo-link {
        text-decoration: none;
    }

    &__logo {
        font-size: 36px;
        color: $logo-green-color;
        font-family: 'Ubuntu', sans-serif;
        text-decoration: none;
    }
}

@media screen and (max-width: 1170px){
    .header__logo {
        font-size: 28px;
    }
}

@media screen and (max-width: 850px){
    .header__logo {
        font-size: 24px;
    }
}

@media screen and (max-width: 750px){
    .header__logo {
        font-size: 18px;
    }
}
