@import '../../styles/main.scss';

.card-and-text {
    height: 525px;
    width: 310px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__card {
        height: 450px;
        width: 310px;
        border-radius: 75px;
    }

    &__text {
        padding-top: 70px;
        height: 75px;
        width: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.purple {
    background-color: $pink-bg-color;
}

.green {
    background-color: $logo-green-color;
}

.card-text {
    font-family: 'Marck Script', cursive;
    font-size: 40px;
    font-weight: 900;
    color: $white-color;
    text-align: center;
}