.footer {
    height: 165px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &__container {
        width: 318px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        height: 37px;
    }
    &__copyright {
        font-size: 14px;
        font-weight: 400;
    }
}