.main {
    &__form {
        display: flex;
        width: 85%;
        justify-content: space-between;
    }
}
.contact {
    display: flex;
    height: 445px;
    justify-content: space-between;
    flex-direction: column;
    &__input {
        outline: none;
        width: 500px;
        height: 50px;
        color: $color-font-form;
        background-color: $color-bg-form;
        font-size: 15px;
        opacity: 0.4;
        border: none;
        resize: none;
        font-weight: 600;
        padding: 18px 20px;
        &:focus {
            opacity: 1;
            box-shadow: inset 5px 0 $color-hover;
        }
        &::placeholder {
            color: $color-font-form;
        }
        &--message {
            height: 250px;
            resize: none;
        }
        &--message::placeholder {
            font-family: $font-main;
        }
    }
}