$color-bg-form: #00c4c4;
$color-font-form: #ffffff;
$color-font-main: #262626;
$color-bg-footer: #262626;
$color-font-footer: #b9b9b9;
$color-font-footer-add: #f12b55;
$color-hover: #355b82;
$font-logo: 'Pacifico', cursive;
$font-main: 'Raleway', sans-serif;