$font-main: "Roboto", sans-serif;
$font-additional: "Open Sans", sans-serif;
$color-font-title: #000000;
$color-font-main: #ffffff;
$color-bg-green: #27ae60;
$color-bg-yellow: #f1c40f;
$color-bg-red: #e74c3c;
$color-bg-blue: #2980b9;
$color-bg-grey: #454c4d;
$color-green-bg-grad-top: #2bc26b;
$color-green-bg-grad-bottom: #0ea54e;
$color-yellow-bg-grad-top: #ffda11;
$color-yellow-bg-grad-bottom: #efbd00;
$color-red-bg-grad-top: #ff5543;
$color-red-bg-grad-bottom: #e43826;
$color-blue-bg-grad-top: #2e8fce;
$color-blue-bg-grad-bottom: #1172b1;
$color-grey-bg-grad-bottom: #4d5556;
$color-grey-bg-grad-top: #303839;
$color-green-border: #158545;
$color-yellow-border: #c29e0c;
$color-red-border: #a23226;
$color-blue-border: #1b5b84;
$color-grey-border: #1b1b1b;
