$white-color: #fff;
$black-color: #000;
$logo-green-color: #1AC587;
$text-green-color: #1AC587;
$play-btn-color: #E1F1E5;
$violet-color: #EB69EE;
$play-btn-color: #E1F1E5;
$footer-bg-color: #E1F1E5;
$pink-bg-color:  #EB69EE;
$pink-text-color:  #EB69EE;