* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    width: 1110px;

    @media screen and (max-width: 1110px){
        width: 425px;
    }

    @media screen and (max-width: 425px) {
        width: 320px;
    }
}

a {
    color: $white-text;
    text-decoration: none;
  }