$blue-color: #5474fd;
$bg-three-steps: #333333;
$bg-paragraph: #2c2625;
$bg-footer: #232323;
$bg-climber-paragraph: #333333;
$white-text: #ffffff;
$loupe-icon: #4f6adf;
$thumb-icon: #00a2ff;
$check-icon: #ff6363;
$icon-text: #e8e8e8;
$search-btn-text: #c2c2c2;
$bg-image1: url(../img/bg-image1.png);
$bg-image2: url(../img/bg-image2.png);
$bg-image3: url(../img/bg-image3.png);
$bg-image4: url(../img/bg-image4.png);
$bg-image5: url(../img/bg-image5.png);

