@import '../../styles/main.scss';

.welcome {
    background-image: url(../../img_bg/Welcome_bg.jpg);
    height: 1200px;
    background-size: cover;

    &-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 750px;
        &__heading {
            font-family: ProximaNovaBold;
            font-size: 60px;
            color: $white-color;
            margin-bottom: 15px;
        }

        &__subheading {
            width: 650px;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            font-style: italic;
            font-size: 28px;
            color: $white-color;
        }
    }
}