.contact {
  display: flex;
  @include container-width;
  height: 75%;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (max-width: 767px) {
    height: 90%;
  }

  &__top {
    @include flex-beetween;
    flex-direction: column;
  }
  &__bottom {
    display: flex;
    width: 100%;
    justify-content: center;

    @media screen and (max-width: 767px) {
      height: 900px;
    }
  }
  &__left,
  &__right {
    width: 47%;

    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }
  &__top-container {
    height: 160px;
    width: 370px;
    @include flex-beetween;
    flex-direction: column;

    @media screen and (max-width: 767px) {
      height: 160px;
      width: 100%;
    }
  }
  &__description {
    text-align: center;
  }
  &__right-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (max-width: 767px) {
      height: 250px;
    }
  }

  &__contact-info {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 767px) {
      color: $color-font-light;
    }

  }
  &__info-title {
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__info-description {
    font-size: 20px;
    font-weight: 400;

    @media screen and (max-width: 767px) {
      font-size: 16px;
    }

  }
  &__buttons-container {
    width: 450px;
    height: 250px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    @media screen and (max-width: 1024px) {
      width: 330px;
    }

    @media screen and (max-width: 767px) {
      width: 100%;
      height: 55px;
      justify-content: space-between;
    }
  }
  &__form {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 767px) {
      height: 720px;
      flex-direction: column;
      align-items: center;
    }
  }
}
.form {
  display: flex;
  height: 445px;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  &__input {
    width: 90%;
    height: 50px;
    padding: 18px 20px;
    outline: none;
    color: $color-font-light;
    background-color: $color-bg-button-contact;
    font-size: 15px;
    opacity: 0.4;
    border: none;
    resize: none;
    font-weight: 600;

    @media screen and (max-width: 767px) {
      width: 100%;
    }

    &:focus {
      opacity: 1;
      box-shadow: inset 5px 0 $color-hover-contact;
    }
    &::placeholder {
      color: $color-font-light;
    }
    &--message {
      height: 250px;
      resize: none;
    }
    &--message::placeholder {
      font-family: $font-main;
    }
  }
}

@media screen and (max-width: 767px) {
  .contact__right-container {
    div:nth-child(1) {
      order: 2;
    }
    div:nth-child(2) {
      order: 3;
    }
    div:nth-child(3) {
      order: 4;
    }
    div:nth-child(4) {
      order: 1;
    }
  }
}
