$font-main: "Raleway", sans-serif;
$font-logo: "Pacifico", cursive;
$color-font-dark: #262626;
$color-font-light: #ffffff;
$color-border: #262626;
$color-shadow-button: rgba(0, 0, 0, 0.5);

$color-bg-header: #f9f8fb;
$color-bg-button-header: #ff6033;
$color-hover-header: #ff6033;

$color-bg-about: #00bdbd;

$color-bg-button-service: #ffffff;
$color-bg-service: #70bfff;
$color-border-button-service: #9d9d9d;

$color-bg-button-gallery: #5585a2;
$color-bg-gallery: #ffe92f;

$color-bg-button-subscribe: #96b92c;
$color-bg-subscribe: #ffffff;

$color-bg-button-blog: #f72b3b;
$color-bg-blog: #b07cf7;
$color-bg-date: rgba(0, 0, 0, 0.4);
$color-gradient: linear-gradient(transparent 0%, transparent 50%, #000000 100%);

$color-bg-button-contact: #00c4c4;
$color-hover-contact: #355b82;

$color-bg-footer: #262626;
$color-font-footer: #b9b9b9;
$color-font-footer-add: #ff2b58;

$color-hamburger-hover: #ff2b58;
$color-bg-hamburger: #262626;
